<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/media/dj/styles.css" />
    <title>{% block title %}DJ Login{% endblock %}</title>
    <script src="/media/dj/jquery/jquery-latest.js" type="text/javascript"></script> 
</head>

<body>

    <div class="login">
        <form method="post">
            <input name="pwd" type="password">
            <input type="submit">
        </form>
    
    </div>
    
</body></html>
